cloud_id                 = "b1g9fdhgmccr92931idh"
folder_id                = "b1g0da3u1gqk0nansi59"
zone                     = "ru-central1-a"
image_id                 = ""
public_key_path          = "~/.ssh/id_rsa-appuser.pub"
private_key_path         = "~/.ssh/id_rsa-appuser"
subnet_id                = "e9bi9oji8ljojstbt6cp"
service_account_key_file = "../../.secrets/terraform.json"
access_key               = ""
secret_key               = ""
ansible_inventory = "../../ansible/environments/stage/inventory.json"
ansible_config = "../../ansible/ansible.cfg"
ansible_playbook = "../../ansible/playbooks/k8s_deploy.yml"
