cloud_id                 = "b1g9fdhgmccr92931idh"
folder_id                = "b1g0da3u1gqk0nansi59"
zone                     = "a"
image_id                 = ""
public_key_path          = "~/.ssh/id_rsa-appuser.pub"
private_key_path         = "~/.ssh/id_rsa-appuser"
subnet_id                = "e9bi9oji8ljojstbt6cp"
service_account_key_file = "../../.secrets/terraform.json"
kubernetes_service_account_id = ""
access_key               = "YCAJEORbqMpUghLYTe_k_3k_j"
secret_key               = "YCMldBRw8ISfi_OZcEWyoQjTr7LZnY-8flQcWPgP"
